<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo app</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <p id="error" class="hidden">Something went wrong</p>
    <form id="form">
      <label
        >Add todo
        <input name="description" id="description" type="text" />
        <button>Create</button>
      </label>
    </form>
    <ul id="todo">
      {% for d in data %}
      <li>
        <input type="checkbox" data-id="{{ d.id }}" {% if d.completed %} checked {% endif %} />{{d.description}} <button data-id="{{ d.id }}">Delete</button>
      </li>
      {% endfor %}
    </ul>
  </body>
  <script>
    // delete
    const deleteBtn = document.querySelectorAll(
      '#todo button'
    );
    for (let j = 0; j < deleteBtn.length; j += 1) {
      const btn = deleteBtn[j];
      btn.onclick = (e) => {
        fetch("/todos/" + e.target.dataset.id, {
          method: 'DELETE',
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then(function () {
          document.getElementById("error").className = "hidden";
        })
        .catch(function () {
          document.getElementById("error").className = "";
        });
      };
    }
    // update completed
    const checkboxes = document.querySelectorAll(
      '#todo input[type="checkbox"]'
    );
    for (let i = 0; i < checkboxes.length; i += 1) {
      const checkbox = checkboxes[i];
      checkbox.onchange = (e) => {
        const newCompletedState = e.target.checked;
        fetch("/todos/" + e.target.dataset.id + "/set-completed", {
          method: "POST",
          body: JSON.stringify({
            completed: newCompletedState,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then(function () {
          document.getElementById("error").className = "hidden";
        })
        .catch(function () {
          document.getElementById("error").className = "";
        });
      };
    }
    // Add todo
    document.getElementById("form").onsubmit = function (e) {
      e.preventDefault();
      fetch("/todos/create", {
        method: "POST",
        body: JSON.stringify({
          description: document.getElementById("description").value,
        }),
        headers: { "Content-Type": "application/json" },
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (jsonresponse) {
          const liItem = document.createElement("LI");
          liItem.innerHTML = jsonresponse["description"];
          document.getElementById("todo").appendChild(liItem);
          document.getElementById("error").className = "hidden";
          document.getElementById("description").value = "";
        })
        .catch(function () {
          document.getElementById("error").className = "";
        });
    };
  </script>
</html>
